._d7okx8 {
	background-color: white !important
}
._19wwotmu {
	background-image: none !important;
	background-color: cyan !important; 
}
._8wr9mg {
	border-radius: 5px !important;
	padding: 10px !important;
	bacjground: #F6FFFF !important;
}
._yujqfab._1vnddq5 {
	background-color: #F6FFFF !important
}
._yujqfab._v9if18 {
	background-color: #e0FFFF !important;
}
.btn.btn-primary {
	font-size: 14px;
	background-color: cyan;
	color: black;
}
.btn svg {
	stroke: black !important;
}
