@tailwind base;
@tailwind components;
@tailwind utilities;

.heart {
  animation-name: radiate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: backwards;
}


.heart:nth-child(1) {
  animation-delay: -5s;
}
.heart:nth-child(2) {
  animation-delay: -10s;
}
.heart:nth-child(3) {
  animation-delay: -15s;
}
.heart:nth-child(4) {
  animation-delay: -20s;
}
.heart:nth-child(5) {
  animation-delay: -25s;
}

@keyframes radiate {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  1% {
    opacity: 0.15;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}